:root {
  --font: Helvetica, sans-serif;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

html {
  font-size: 100%;
}


/* Top navigation bar */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px 10px 0px 0px; 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #e18888;
}


* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 1rem;
  font-family: Helvetica, sans-serif;
  background-color: #e8cfff;
  text-align: center;
  height: 100px; 
  padding: 10px;
  height: auto; 
}

h1 {
    font-family: "Aboreto", serif;
    font-size: 2em;
    text-shadow: 3px 3px 3px #ababab;
}


/* Content */
.main {
  background-color: #fff;
  padding: 10px 0;
  height: 12rem auto; 
  text-align: center;
}

img.cute-icons {
    border-radius: 20%;
    padding: 5px;
    margin: 20px;
    max-width: 75vw;
    height: auto;
  }
  
img:hover {
    box-shadow: 1px 1px 1px 1px #f714ea;
  }
  

.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  border-radius: 0;
  padding: 2px 0;
}

.box-list {
  text-align: justify;
  max-width: 800px;
  border-radius: 0;
  padding: 5px 0;
}


/* Footer */

.footer {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 0px 0px 10px 10px; 
}

.bonus {
  background-color: #f714ea;
}


/* Technical */

/* Margins, Borders, Padding */
table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th, td {
  padding: 8px;
  text-align: center;
}

/* Box Model */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.boxmodel {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  width: 90%;
  position: center;
}

.boxmodel .margin {
  background: #e18888;
  padding: 45px;
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px dashed #000;
  transition: all .25s ease-in-out;
    color:black;

}
.boxmodel .margin:before {
  content: "Margin";
  font-size: 1em;
  position: absolute;
  padding: 5px 0;
  left: 0;
  top: 2.5%;
  width: 100%;
  text-align: center;
}
.boxmodel .border {
  background: #e0e188;
  padding: 45px;
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px dashed #000;
}
.boxmodel .border:before {
  content: "Border";
  font-size: 1em;
  color: black;
  position: absolute;
   padding: 5px 0;
  left: 0;
  top: 2.5%;
  width: 100%;
  text-align: center;
}
.boxmodel .padding {
  color:black;
  padding: 45px;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffbb40;
  border: 1px dashed #000;
}
.boxmodel .padding:before {
  content: "Padding";
  font-size: 1em;
  position: absolute;
  padding: 5px 0;
  left: 0;
  top: 2.5%;
  width: 100%;
  text-align: center;
}
.boxmodel .content {
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
  border: 1px dashed #010101;
}
.boxmodel .content:before {
  content: "Content";
  font-size: 1em;
  display: block;
  text-align: center;
  padding: 1px 0;
  line-height: 3.5;
}

@media screen and (max-width: 768px) {
.boxmodel .margin {
  padding: 35px;
  background: #cf2626;
}
.boxmodel .margin:before {
  font-size: .75em;
  left: 0;
  top: 2.5%;
}
.boxmodel .border {
  padding: 35px;
  background: #edef36;
}
.boxmodel .border:before {
  font-size: .75em;
  left: 0;
  top: 2.5%;
}
.boxmodel .padding {
  padding: 35px;
  background: #e49403;
}
.boxmodel .padding:before {
  font-size: .75em;
  left: 0%;
  top: 2.5%;
}
.boxmodel .content {
  padding: 10px;
}
.boxmodel .content:before {
  font-size: .75em;
}

  ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px 10px 0px 0px; 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1rem;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #e18888;
}


* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

}

@media screen and (max-width: 360px) {
.boxmodel .margin {
  padding: 25px;
  background: #960606;
}
.boxmodel .margin:before {
  font-size: 0.75em;
  left: 0;
  top: 1.5%;
}
.boxmodel .border {
  padding: 25px;
  background: #d3db00;
}
.boxmodel .border:before {
  font-size: 0.75em;
  left: 0;
  top: 1.5%;
}
.boxmodel .padding {
  padding: 25px;
  background: #e95303;
}
.boxmodel .padding:before {
  font-size: 0.75m;
  left: 0.5%;
  top: 1.5%;
}
.boxmodel .content {
  padding: 10px;
}
.boxmodel .content:before {
  font-size: 0.75em;
}
  
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px 10px 0px 0px; 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 7px;
  text-decoration: none;
  font-size: 1rem;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #e18888;
}


* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

}

@media screen and (max-width: 320px) {
.boxmodel .margin {
  padding: 25px;
  background: #960606;
}
.boxmodel .margin:before {
  font-size: 0.75em;
  left: 0;
  top: 1.5%;
}
.boxmodel .border {
  padding: 25px;
  background: #d3db00;
}
.boxmodel .border:before {
  font-size: 0.75em;
  left: 0;
  top: 1.5%;
}
.boxmodel .padding {
  padding: 25px;
  background: #e95303;
}
.boxmodel .padding:before {
  font-size: 0.75m;
  left: 0.5%;
  top: 1.5%;
}
.boxmodel .content {
  padding: 10px;
}
.boxmodel .content:before {
  font-size: 0.75em;
}
  
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px 10px 0px 0px; 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 1rem;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #e18888;
}


* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

}



/* Core */