
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  background-image: url(https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMTgtd2FuLTAzXzEuanBn.jpg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.main {
  background-color: #ddd;
  padding: 10px;
  height: 200px; 
  text-align: center;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}
