/* :root {
  --font: Helvetica, sans-serif;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
} */

html {
  font-size: 100%;
}


/* Top navigation bar */
/* dropdown */

.navbar {
  overflow: hidden;
  background-color: #333;
  border-radius: 10px 10px 0px 0px; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  width: auto;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #e18888;
}

.active {
  background-color: #e18888;
} 

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e18888;
  color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #fff;
}

.dropdown-content a:hover {
  background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}


* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #e8cfff;
  text-align: center;
}


h1 {
  font-family: "Aboreto", serif;
  font-size: 2em;
  text-shadow: 3px 3px 3px #ababab;
}


h4 {
  
  padding: 0.5em 0 0.5em 0.25em;
}


/* Content */
.main {
  background-color: #fff;
  padding: 10px 0;
  height: auto; 
  text-align: center;
  margin: auto;
}



img.cute-icons {
    border-radius: 20%;
    padding: 0;
    margin: 20px;
    max-width: 75vw;
    height: auto;
  }
  
img.cute-icons:hover {
    box-shadow: 1px 1px 1px 1px #f714ea;
  }
  
img.margin-ex {
  width: 100px;
  height: auto;
  border: 1px solid #555;
  margin: 10px;
}

p.margin-ex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.dotted {
  display: block;
  width: 25vw;
  border: 5px dotted #004df1;
  padding: 25px;
  margin: auto;
  font-size: .5rem;
  text-align: center;
}

button.button-example {
  padding: 25px;
  width: 25vw;
  font-size: .5rem;
  position: inherit;
  float: center;
  margin: auto;
  text-align: center;
}

p.code {
  border: 2px solid black;
  background: #FFF;
  outline: #f714ea solid 1px;
  color: #f714ea;
  font-family: Menlo, Monaco, Consolas, monospace;
  margin: auto;  
  padding: 20px;
  text-align: justify;
  width:40vw;
}

p.quotes {
  border: 2px solid black;
  background: #FFF;
  outline: #f714ea solid 1px;
  color: #f714ea;
  margin: auto;  
  padding: 20px;
  text-align: justify;
  width:50vw;
}

.box-list {
  text-align: justify;
  max-width: 700px;
  padding: 0;
}

li.box-list {
  width: 80vw;
  float: none;
  display: block;
  text-align: center;
  padding: 14px 16px;
 
}

.blog-post {
  height: auto; 
  text-align: justify;
  margin: 0 20vw 0 20vw;
}

.white-space {
  width: 100%;
  height: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto; 
  margin: 0 10vw 0 10vw;
}



/* Technical */

/* Margins, Borders, Padding */
/* table {
  border-collapse: collapse;
  width: 75%;
  text-align: center;
}

th, td {
  padding: 5vh;
  text-align: center;
} */

/* Box Model */
/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

table {
  border-spacing: 8px;
}

td {
  height: 50px;
  vertical-align: top;
  text-align: left;
  padding: 0.5%;
}
td {
  padding: 0.5%;
}

.boxmodel {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  margin: auto;
  width: 100%;
}

.boxmodel .margin {
  background: #ef6464;
  padding: 45px;
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px dashed #000;
}

.boxmodel .margin:before {
  content: "Margin";
  font-size: 1em;
  position: absolute;
  padding: 5px 0;
  left: 0;
  top: 2.5%;
  width: 100%;
  text-align: center;
}
.boxmodel .border {
  background: #c24705;
  padding: 45px;
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px dashed #000;
}
.boxmodel .border:before {
  content: "Border";
  font-size: 1em;
  color: black;
  position: absolute;
   padding: 5px 0;
  left: 0;
  top: 2.5%;
  width: 100%;
  text-align: center;
}
.boxmodel .padding {
  color:black;
  padding: 45px;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffbb40;
  border: 1px dashed #000;
}
.boxmodel .padding:before {
  content: "Padding";
  font-size: 1em;
  position: absolute;
  padding: 5px 0;
  left: 0;
  top: 2.5%;
  width: 100%;
  text-align: center;
}
.boxmodel .content {
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
  border: 1px dashed #010101;
}
.boxmodel .content:before {
  content: "Content";
  font-size: 1em;
  display: block;
  text-align: center;
  padding: 1px 0;
  line-height: 3.5;
}

/* About Me */



#gallery {
  line-height:0;
  -webkit-column-count:3; /* split it into 4 columns */
  -webkit-column-gap:5px; /* give it a 5px gap between columns */
  -moz-column-count:3;
  -moz-column-gap:5px;
  column-count:3;
  column-gap:5px;
}

#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; /* to match column gap */
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .blog-post {
    height: auto; 
    text-align: justify;
    margin: 5vw;
  }

.boxmodel .margin {
  padding: 35px;
  background: #9c2cf8;
}
.boxmodel .margin:before {
  font-size: .75em;
  left: 0;
  top: 2.5%;
}
.boxmodel .border {
  padding: 35px;
  background: #e736ef;
}
.boxmodel .border:before {
  font-size: .75em;
  left: 0;
  top: 2.5%;
}
.boxmodel .padding {
  padding: 35px;
  background: #f38ccf;
}
.boxmodel .padding:before {
  font-size: .75em;
  left: 0%;
  top: 2.5%;
}
.boxmodel .content {
  padding: 10px;
}
.boxmodel .content:before {
  font-size: .75em;
}

p.code {
  border: 2px solid black;
  background: #FFF;
  outline: #f714ea solid 1px;
  color: #f714ea;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: small;
  margin: auto;  
  padding: 10px;
  text-align: justify;
  width: 80vw;
  height: auto;
}
  /* ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px 10px 0px 0px; 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1rem;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #e18888;
} */


* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}


#gallery {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
  }


}

@media screen and (max-width: 360px) {
  .blog-post {
    height: auto; 
    text-align: justify;
    margin: 0;
  }

  
.boxmodel .margin {
  padding: 25px;
  background: #c41414;
}
.boxmodel .margin:before {
  font-size: 0.75em;
  left: 0;
  top: 1.5%;
}
.boxmodel .border {
  padding: 25px;
  background: #d3db00;
}
.boxmodel .border:before {
  font-size: 0.75em;
  left: 0;
  top: 1.5%;
}
.boxmodel .padding {
  padding: 25px;
  background: #e95303;
}
.boxmodel .padding:before {
  font-size: 0.75m;
  left: 0.5%;
  top: 1.5%;
}
.boxmodel .content {
  padding: 10px;
}
.boxmodel .content:before {
  font-size: 0.75em;
}

#gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
 }

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

p.code {
  border: 2px solid black;
  background: #FFF;
  outline: #f714ea solid 1px;
  color: #f714ea;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: small;
  margin: auto;  
  padding: 10px;
  text-align: justify;
  width: 80vw;
  height: auto;

}
}

@media screen and (max-width: 320px) {
  .blog-post {
    height: auto; 
    text-align: justify;
    margin: 0;
  }

.boxmodel .margin {
  padding: 25px;
  background: #028119;
}
.boxmodel .margin:before {
  font-size: 0.75em;
  left: 0;
  top: 1.5%;
}
.boxmodel .border {
  padding: 25px;
  background: hsl(152, 100%, 56%);
}
.boxmodel .border:before {
  font-size: 0.75em;
  left: 0;
  top: 1.5%;
}
.boxmodel .padding {
  padding: 25px;
  background: #03b7e9;
}
.boxmodel .padding:before {
  font-size: 0.75m;
  left: 0.5%;
  top: 1.5%;
}
.boxmodel .content {
  padding: 10px;
}
.boxmodel .content:before {
  font-size: 0.75em;
}

#gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
 }

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

img.margin-ex {
  border: 1px solid #555;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

}

img.js-body
{
  border: none;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}


/* Footer */

.footer {
  background-color: #ffffff;
  padding: 10px 0;
  border-radius: 0px 0px 10px 10px; 
  height: auto; 
}

.bonus {
  background-color: #f714ea;
}

.next a {
  float: right;
  color: #fff;
  background-color: #333;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  text-decoration: none; 

}

.next:hover a {
  color: #fff;
  background-color: #e18888; 
  text-decoration: none; 
  border-radius: 10px;
}

.previous a {
  float: left;
  color: #fff;
  background-color: #333;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  text-decoration: none; 

}

.previous:hover a {
  color: #fff;
  background-color: #e18888; 
  text-decoration: none; 
}

.footer-icon {
  padding: 0.5rem;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.footer-icon:hover {
  color: #f714ea;
  text-decoration: none;
  cursor: pointer;

}

